language: r
cache: packages

r_packages:
  - devtools
  - ggplot2

r_github_packages:
  - jimhester/covr
  - jimhester/lintr
  - ropensci/spelling
  - MangoTheCat/goodpractice
  - KlausVigo/phangorn

before_script:
  - if [ -f ".lintr" ]; then echo "Do use Hadley Wickham's style guide"; exit 1; fi
  - sudo pip install proselint

script:
  - travis_wait 30 R CMD build .
  - travis_wait 30 R CMD check sls*tar.gz

after_success:
  - Rscript -e 'lintr::lint_package()'
  - travis_wait 30 Rscript -e 'covr::codecov()'
  - travis_wait 30 Rscript -e 'goodpractice::gp()'
  - proselint *.md | egrep -v "typography\.symbols\.curly_quotes"
